<section id="aboutIntro" class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</section>
<section id="contactSection">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form name="contactPoppy" netlify action="/thank-you">
          <div class="form-group">
            <label for="nameContact">Name</label>
            <input type="text" name="name" class="form-control" id="nameContact" aria-describedby="YourName" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="emailContact">Email</label>
            <input type="email" name="email" class="form-control" id="emailContact" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="numberContact">Number</label>
            <input type="number" name="number" class="form-control" id="numberContact" placeholder="Telephone number">
          </div>
          <div class="form-group">
            <label for="messageContact">Message</label>
            <textarea name="message" class="form-control" id="messageContact" rows="3"></textarea>
            <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
        </form>
        <p></p>
      </div>
      <div class="col-md-6">
        <div id="map-canvas" style="width:100%; height:500px"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script>
	var markers = {{ site.data.locations | jsonify }};

	function initializeMap() {
		var bounds = new google.maps.LatLngBounds(),
			mapOptions = {
				mapTypeId: 'roadmap',
				styles: [{
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [{
            "visibility": "on"
          }, {
            "color": "#aee2e0"
          }]
        }, {
          "featureType": "landscape",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#eee"
          }]
        }, {
          "featureType": "poi",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#eee"
          }]
        }, {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#000"
          }]
        }, {
          "featureType": "poi",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#000"
          }]
        }, {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [{
            "visibility": "simplified"
          }, {
            "color": "#eee"
          }]
        }, {
          "featureType": "road",
          "elementType": "geometry.fill",
          "stylers": [{
            "visibility": "simplified"
          }]
        }, {
          "featureType": "road",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#333333"
          }]
        }, {
          "featureType": "road",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#000"
          }]
        }, {
          "featureType": "road",
          "elementType": "labels.icon",
          "stylers": [{
            "visibility": "off"
          }]
        }, {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [{
            "color": "#89271F"
          }]
        }, {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [{
            "color": "#BE3023"
          }]
        }, {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [{
            "color": "#E42825"
          }]
        }, {
          "featureType": "transit",
          "stylers": [{
            "visibility": "off"
          }]
        }, {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [{
            "visibility": "on"
          }, {
            "color": "#87ae79"
          }]
        }, {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#7f2200"
          }, {
            "visibility": "off"
          }]
        }, {
          "featureType": "administrative",
          "elementType": "labels.text.stroke",
          "stylers": [{
            "color": "#ffffff"
          }, {
            "visibility": "on"
          }, {
            "weight": 4.1
          }]
        }, {
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#495421"
          }]
        }, {
          "featureType": "administrative.neighborhood",
          "elementType": "labels",
          "stylers": [{
            "visibility": "off"
          }]
        }]
			};
		// Display a map on the page
		var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		map.setTilt(45);
		for (var i = 0; i < markers.length; i++ ) {
			var position = new google.maps.LatLng(markers[i].latitude, markers[i].longitude);
			bounds.extend(position);
			marker = new google.maps.Marker({
				position: position,
				map: map,
        icon: '{{ site.github.url }}/img/logo-poppy-32x32.png',
				title: markers[i].title
			});
			// Automatically center the map fitting all markers on the screen
			map.fitBounds(bounds);
		}
		// Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
		var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
			this.setZoom(5);
			google.maps.event.removeListener(boundsListener);
		});
	}
	google.maps.event.addDomListener(window, 'load', initializeMap);
</script>
      </div>
    </div>
  </div>
</section>
