<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="far fa-envelope"></i></a></li>
            <li><a href="#"><i class="fas fa-phone"></i></a></li>
          </ul>
        </div>
        <p>Powered by <a href="http://www.ariesdesign.co/"><img src="{{site.github.url}}/img/aries.png" width="40"> ARIES DESIGN</a></p>
      </div>
    </div>
  </div>
</footer>
